bdd/actualEventStat.json
bdd/catchError.json
bdd/charmeChroma.json
bdd/countPokemon.json
bdd/enteredCode.json
bdd/languageSelected.json
bdd/numberOfPaginations.json
bdd/pokedexSaveUser.json
bdd/pokedexSaveServer.json
bdd/pokemonForm.json
bdd/pokemonSpawnFollow.json
bdd/serversAllowThisChannel.json
bdd/shinydexSaveUser.json
bdd/stat.json

lock/*
node_modules/*

.env
.timetracker
.gitignore

